@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}

/* shared style */
.text-primary{
    color:rgb(253, 110, 10) ;
}
.btn{
    width: 140px;
    height: 54px;
    top: 50px;
    border-radius: 7px;
    background: rgb(253, 110, 10);
    border: none;
    color: aliceblue;
    font-size: large;
}
   


/* navbar style */
header{
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 200px;
}
nav ul{
    display: flex;
    align-items:center ;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
    color:black;
    line-height: 27px;
    font-size: 20px;
    font-weight: 400;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}

/* navbar banner design */
.banner{
    display: flex;
    justify-content: space-between;
    width: 1900px;
    height: 500px;
    margin: 50px auto;
}
.banner-contant{
    height: 600px;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px;
}
.banner-heading{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    text-align: center;
}
.banner-description{
    font-size: 20px;
    font-weight: 400;
    text-align:justify;
    padding: 30px;
}
.banner-img{
    width: 50%;
    height: 700px;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.banner-img img{
    margin-left: 150px;
    width: 100%;
}
.btn-button{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    justify-content: center;
}
.btn-download{
    width: 200px;
    height: 54px;
    border-radius: 7px;
    background: rgb(253, 110, 10);
    border: none;
    color: aliceblue;
    font-size: large;
}