@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

/* shared style */
.text-primary{
    color:rgb(253, 110, 10) ;
}
.btn{
    width: 140px;
    height: 54px;
    top: 50px;
    border-radius: 7px;
    background: rgb(253, 110, 10);
    border: none;
    color: aliceblue;
    font-size: large;
}
   


/* navbar style */
header{
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 200px;
}
nav ul{
    display: flex;
    align-items:center ;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
    color:black;
    line-height: 27px;
    font-size: 20px;
    font-weight: 400;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}

/* navbar banner design */
.banner{
    display: flex;
    justify-content: space-between;
    width: 1900px;
    height: 500px;
    margin: 50px auto;
}
.banner-contant{
    height: 600px;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px;
}
.banner-heading{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    text-align: center;
}
.banner-description{
    font-size: 20px;
    font-weight: 400;
    text-align:justify;
    padding: 30px;
}
.banner-img{
    width: 50%;
    height: 700px;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.banner-img img{
    margin-left: 150px;
    width: 100%;
}
.btn-button{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    justify-content: center;
}
.btn-download{
    width: 200px;
    height: 54px;
    border-radius: 7px;
    background: rgb(253, 110, 10);
    border: none;
    color: aliceblue;
    font-size: large;
    cursor: pointer;
}
/* about-section design */

.about-section{
    width: 1140px;
    height: 305px;
    margin: 300px auto;
}
.about-content h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}
.about-content p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    
}
.personal-information{
    width: 1140px;
    height: 120px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.personal-information p{
    text-align: center;
}
.about-information{
    font-size: x-large;
    font-weight: 700;
}

/* what-i-do-design */
.what-i-do{
    width: 1140px;
    height: 205px;
    margin: 0 auto;
    text-align: center;
}
.what-i-do h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 20px;
}
.what-i-do p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

/* my-project-design */

.my-project{
    width: 1140px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}
.project-items{
    padding: 20px;
}
.project-items img{
    margin-bottom: 10px;
}
.project-items h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.project-items p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}

/* resume design */
.resume-title{
    width: 1140px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.resume{
    width: 1140px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}
.my-education{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.ssc h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.Certificate h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.Certificate p{
    font-size: 16px;
    /* font-weight: 400; */
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(117, 117, 117);
}
.resume-btn{
   position: absolute;
   margin-top: 38%;
   margin-left: 24%;
}

/* footer design */
.footer{
    width: 1500px;
    height: 480px;
    background-color:rgba(255, 145, 56, 0.295);
    margin: 0 auto;
    gap: 50px;
    display: flex;
    padding: 180px;
}
.connect{
    width: 40%;
}
.connect h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.connect p{
    font-size: 16px;
    font-weight: 400;
    width: 400px;
}
.connect img{
    margin-top: 40px;
    width: 8%;
    
    border: 2px dashed rgb(141, 139, 139);
}
.message{
    width: 40%;
}
.message h1{
    font-size: 35px;
font-weight: 700;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    
}
.form  input{
    width: 595px;
    height: 64px;
    text-align: center;
}
.form textarea{
    text-align: center;
    font-size: x-large;
}